@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Animation CSS */

@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
/* Top et NAV BAR */

.top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0.5em 2em;
    color: rgb(0, 0, 0);
}

.top_header h1 {
    font-family: 'Marcellus SC', serif;
}

.top_header i {
    font-size: 1.5em;
}

.top_header a {
    color: rgb(0, 0, 0);
}

.top_nav {
    display: flex;
    align-content: center;
    align-items: flex-end;
    font-size: 1.1em;
}

.top_nav a {
    padding: 1em;
}
#cart_elt {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#home_elt {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home_elt:hover, #cart_elt:hover {
    transform: scale(1.03);
}

/* HEADER */

.under_header {
    background-image: url("https://dmscncrouters.com/wp-content/uploads/2020/11/AdobeStock_246144330-scaled.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 18.2rem 0rem;
}

.uh_cont {
    text-align: center;
    color: #ffffff;
    margin: 0 auto;    
}

.uh_cont h2 {
    font-size: 3em;
}
.uh_cont p{
    font-size: 1.3em;
    padding-bottom: 1em;
}
.btn {
    font-size: 1.3em;
    padding: 0.6em;
    border-radius: 30px;
    border-color: transparent;
    font-weight: 500;
    background: yellow;
}
.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* MAIN */

main {
    background: #000000;
    padding-bottom: 2em;
}
#h2_ancre {
    text-align: center;
    margin: 0 auto;
    padding-top: 2.5em;
    padding-bottom: 1em;
    font-size: 2em;
    color: white;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Articles */

.container_elt{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: auto;
    width: 25%;
    margin: 3em 2em;
    padding-bottom: 1em;
    background-color: rgb(255 255 255);
    box-shadow: 0px 0px 5px 1px #ffffff;
}   

/* .container_elt:hover {
    transform: scale(1.03);
    transition: ease 0.3s;
} */

.img_article {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: white;
}
.art_name_price {
    display: flex;
    justify-content: space-between;
    padding: 0 0;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0;
}

.art_name_price p {
    color: black;
    font-size: 1.1em;
}

.desc_article {
    padding: 0 1em;
}

.name_article {
    font-weight: 600;
    margin-bottom: 0;
}

.price_article {
    padding: 0;
    margin-top: 0;
    font-weight: 900;
}

.container_elt a{
    margin: 0 auto;
}

/*Bouton Acheter */

.btn_test {
    border-color: transparent;
    border-radius: 30px;
    background-color: yellow;
    padding: 10px;
    font-size: 1.1em;
    width: 150px;
    font-weight: 500;
}
.btn_test:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* FOOTER */

footer {
    background: #ffffff;
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    font-size: 2em;
    text-decoration: none;
    color: black;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

/* Animation footer */
footer a:hover {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
}

/************************************************************  2ND Page : Produit ****************************************************************************/

.main_product {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container_product {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    background: white;
    border-radius: 15px;
    width: 70%;
    max-width: 700px;
    box-shadow: 0px 0px 5px 1px #ffffff;
}

.img_product {
    height: 300px;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#title_product {
    text-align: center;
    color: black;
}

#desc_product {
    color: black;
}
.bloc_p_t_quant{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.quant_nmb{
    display: flex;
    align-items: center;
}
.quant_nmb p {
    margin-right: 0.5em;
}
select {
    height: 2em;
}

.desc_product{
    padding: 0.5em 2em;
}

.quant, .lent {
    padding-left: 2em;
}

.quant, .lent {
    font-weight: bold;
}

.img_product {
    height: 300px;
    width: 100%;
    object-fit: fill;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: white;
}

.btn_test2 {
    border-color: transparent;
    border-radius: 30px;
    background-color: yellow;
    padding: 10px;
    font-size: 1.1em;
    width: 200px;
    font-weight: 500;
}
.btn_test2:hover{
    cursor: pointer;
    opacity: 0.8;
}

.btn_price {
    padding: 1em;
}

.price_product {
    padding-right: 2em;
    font-weight: 900;
}
