@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.img_header {
    height: 500px;
    width: 100%;
}

.top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6b481c;
    padding: 0 2em;
    color: #fff;
}

.top_header i {
    font-size: 1.5em;
}

.top_header a {
    color: #fff;
}
.under_header {
    background: lightgray;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 495px;
}
.uh_img {
    width:  50%;

}
.uh_pres {
    text-align: center;
    width: 50%;
}
.uh_pres h2 {
    padding: 0 1em;
}

main {

    height: 800px;
}

footer {
    background: #6b481c;
    height: 200px;
}


