@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* NAV BAR */

.top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0.5em 5em;
    color: rgb(0, 0, 0);
}

.top_header i {
    font-size: 1.5em;
}

.top_header a {
    color: rgb(0, 0, 0);
}

#cart_elt {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#cart_elt:hover {
    color: grey;
}

/* HEADER */

.img_header {
    height: 600px;
    width: 100%;
    object-fit: cover;
}
.under_header {
    height: 600px;
}

.uh_img {
    position: relative;
}
.uh_img_text_cont {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 30%;
    color: white;
}
.uh_img_text_cont h2 {
    font-size: 3em;
}
.uh_img_text_cont p{
    font-size: 1.3em;
    padding-bottom: 1em;
}
.btn {
    font-size: 1.3em;
    padding: 0.6em;
    border-radius: 30px;
    font-weight: 500;
}

/* MAIN */

main {
    background: #DCDCDC;
}
.container {
    height: 1000px;
}

/* FOOTER */
footer {
    background: #ffffff;
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    font-size: 2em;
    text-decoration: none;
    color: black;
    margin-right: 0.5em;
    margin-left: 0.5em;
}


